@implements IDisposable

<div style="height:42px;">
    <span style="font-size:x-large">@AppState.Message</span>
</div>

@code {

    [CascadingParameter]
    public CascadingAppState AppState { get; set; }

    // private copy of the AppState data
    IAppState state;

    protected override void OnInitialized()
    {
        state = AppState.GetCopy();

        AppState.PropertyChanged += PropertyChangedHandler;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Check for changes
        if (AppState.Message != state.Message)
        {
            // Message has changed
            state.Message = AppState.Message;
        }
        else if (AppState.Count != state.Count)
        {
            // Count has changed
            state.Count = AppState.Count;
        }
    }

    public void PropertyChangedHandler(string PropertyName)
    {
        // take action based on the property name
    }

    public void Dispose()
    {
        // Unsubscribe from the event
        AppState.PropertyChanged -= PropertyChangedHandler;
    }
}
